{% extends 'game/base.html' %}
{% block title %}Home Page{% endblock %}
{% load staticfiles%}
{% block content %}
    <main>
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="{% static "img/blackjack.png" %}" alt="">
        <div class="intro-text">
          <span class="name">New Game</span>
          <a class = "newGameLink" href = "{% url 'poker:game' %}"><button type = "submit" class = "newGame">START</button></a>
          <span class="skills">yalla, time to win some money</span>
        </div>
      </div>
    </header>
    </main>
{% endblock %}
